<!-- footer part -->
<footer class="footer navbar-fixed-bottom" >
    <div class="container" >
        <div id="logo1" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <embed src="./image/logo.svg" width="50%" height="50%" type="image/svg+xml" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="row text-center myFooter" >
                <h4>CONTACT US</h4>
            </div>

            <div class="row text-center myFooter">
                <div class="order-first order-md-last">
                    <ul class="list-unstyled">
                        <li><i class="fas fa-phone"></i>
                            <a href="tel+18666666070" data-hover="+44 7500555555">
                                Tel: +44 (0)7500555555,
                            </a>
                        </li>
                        <li><i class="far fa-envelope"></i>
                            <a href="mailto:info@propulso.io" data-hover="nc19964@bristol.ac.uk">
                                e-mail: nc19964@bristol.ac.uk
                            </a>
                        </li>
                        <li><i class="fas fa-map-marker-alt"></i>
                            <a href="https://goo.gl/maps/HB6M9yFbfpCBZtR29" rel="nofollow">
                        <span data-hover="University of Bristol, Bristol">
                            University of Bristol, Bristol,
                        </span>
                                <span data-hover="BS8 1QU, UK">BS8 1QU, UK</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row text-center myFooter">
                <p>
                    &copy;
                    2020 The Ubiversity Of Bristol
                </p>
            </div>
        </div>
        <div id="logo2" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <embed src="./image/logo.svg" width="50%" height="50%" type="image/svg+xml" />
        </div>
    </div>
</footer>