<!DOCTYPE html [<!ENTITY copy "&#169;">]>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='Content-Security-Policy' content='block-all-mixed-content'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="./image/icon.ico"/>

    <title><%=titlename %></title>

    <!-- bootstrap cs -->
    <link type="text/css" rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- font -->
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora" />
    <!-- my css -->
    <link type="text/css" rel="stylesheet" href="./mycss/all.css"/>
    <link type="text/css" rel="stylesheet" href="./mycss/dashboard.css" />
    <link type="text/css" rel="stylesheet" href="./mycss/carousel.css" />
    <link type="text/css" rel="stylesheet" href="./mycss/login.css" />
    <link type="text/css" rel="stylesheet" href="./mycss/index.css"/>
    <!-- other -->
    <link type="text/css" rel="stylesheet" href="./assets/css/ie10-viewport-bug-workaround.css" />

    <script type="application/json" src="./data.json"></script>

    <!-- jquery -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="./assets/js/ie-emulation-modes-warning.js"></script>


</head>