<%- include('head.html') %>

<body>

<%- include('title.html') %>

<!-- the main part -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/pvije6pgS_8" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen="true">
                    </iframe>
                </div>
            </div>
            <h3>
                Boris Johnson to explore ‘travel corridors’ with some countries - UK COVID-19 briefing
            </h3>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            </div>
        </div>
    </div>


</main>

<%- include('foot.html') %>

</body>

<%- include('jsFile.html') %>

</html>